
MobileApp/.vs/BeamApp/DesignTimeBuild/.dtbcache
MobileApp/.vs/BeamApp/DesignTimeBuild/.dtbcache
MobileApp/.vs/BeamApp/v15/.suo
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide-shm
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide-wal
MobileApp/.vs/BeamApp/DesignTimeBuild/.dtbcache
MobileApp/.vs/BeamApp/v15/.suo
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide-shm
MobileApp/.vs/BeamApp/v15/Server/sqlite3/storage.ide-wal
MobileApp/.vs/BeamApp/DesignTimeBuild/.dtbcache
MobileApp/.vs/BeamApp/DesignTimeBuild/.dtbcache
MobileApp/.vs/BeamApp/v15/.suo
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-arm64-v8a-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-arm64-v8a.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-v7a-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-v7a.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-arm64-v8a-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-arm64-v8a.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-v7a-Signed.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi-v7a.apk
MobileApp/BeamApp/BeamApp.Android/bin/Debug/com.Beam.BeamApp-armeabi.apk
MobileApp/BeamApp/BeamApp/BeamApp.projitems
MobileApp/BeamApp/BeamApp/BeamApp.projitems
*.user
*.user
*.dll
*.mdb
*.pdb
*.apk
*.user
MobileApp/BeamApp/BeamApp.Android/BeamApp.Android.csproj.user
